<table class="table">
      <caption style='margin-top: 15px;'>User Profile:</caption>
      <thead>
        <tr>
          
        </tr>
      </thead>
      <tbody>
        <tr>

          <th scope="row">User</th>
          <td>{{user.username}}</td>
        </tr>

         <tr>
          <th scope="row">Email</th>
          {% if user.email %}
          <td><a href="{% url 'profile_update' %}">{{user.email}}</a></td>
          {% else %}
          <td><a href="{% url 'profile_update' %}">Add</a></td>
          {% endif %}
        </tr>


      </tbody>
    </table>