{% load staticfiles %}
<html lang="en">
  {% include "home/header.html"%} 
 
  <script src="https://code.jquery.com/jquery-2.1.3.js"></script>
  <script src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js'></script>
   
  <script src="https://code.jquery.com/jquery-2.1.3.js"></script>
  <script src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js'></script>

  <body>


    {% include "home/navbar/nav.html"%}

    <div class="container">
      {% block content %}{% endblock %}
      {% block list %}{% endblock %}
    </div> 
    
    {% include "home/scripts.html"%}
		
	</body>
</html>